name: Publish

permissions:
  contents: read

on:
  push:
    branches: [main]

jobs:
  bump_latest_release:
    name: create latest release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Login GH CLI
        run: gh auth login --with-token < <(echo ${{ secrets.GITHUB_TOKEN }})
      - name: Delete old latest release
        run: gh release delete -R infinyon/fluvio-client-wasm latest -y || true
      - name: Create new latest release
        run: gh release create -R infinyon/fluvio-client-wasm latest -p --notes "Published artifacts from the latest build"

  publish_latest_release:
    name: create latest release
    runs-on: ubuntu-latest
    needs:
      - bump_latest_release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - run: yarn install
      - run: yarn pack --filename fluvio-client-wasm.tar.gz
      - name: Login GH CLI
        run: gh auth login --with-token < <(echo ${{ secrets.GITHUB_TOKEN }})
      - run: gh release upload -R infinyon/fluvio-client-wasm --clobber latest fluvio-client-wasm.tar.gz
